[submodule "m-explore-ros2"]
	path = m-explore-ros2
	url = https://github.com/MusLead/m_explorer_ROS2_husarion.git
[submodule "tutorial_pkg"]
	path = tutorial_pkg
	url = https://github.com/MusLead/tutorial_pkg_husarion.git